.inline-block {
    display: inline-block;
    vertical-align: top;
}

.class {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
}

.logo {
    text-align: center;
    width: auto;
    padding: 0 5%;
}

.logo img {
    height: 50px;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
    padding: 0 25%;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 0 25%;
}

.circle {
    height: 60px;
    width: 60px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: center;
    display: inline-block;
}